*{
    margin:0;
    padding:0;

}
body{
    margin:0;
    background-color: #f0f1f4;
    display: grid;
    min-width: auto;
    max-width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
}
h1{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 27pt;
    line-height: 1.5em;
}
h2{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 27px;
    line-height: 1.5em;
}
h3{
    font-family: Cambria, serif;
    font-size: 20px;
    line-height: 1.5em;
}
p{
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    line-height: 2em
}
li{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}
nav{
    border-bottom: solid 1.5px #d3d4d6;
}
nav ul {
    Text-align: center;
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0px;
    background-color: #f0f1f4;
    color: #899593;
    font-family:'Quicksand', sans-serif;
}

nav ul div {
    display: flex;
    font-size: large;
    width: 60%;
    justify-content: space-evenly;
    
}

nav li a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 15px 25px;
}

main{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    background: no-repeat center fixed;
    background-size: cover;
    height: 500px;
}
.hero div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    height: 30%;
    justify-content: space-between;
}
.hero h1{
    color: #d3d4d6;
}
.hero ul{
    list-style: none;
    line-height: 2.5em;
    color: #f0f1f4
}

main .proj{
    min-height: 450px;
    max-height: fit-content;
}
main .proj-dark{
    background-color: #2c3632;
}

.proj1{
    display: grid;
    grid-template-columns: 5fr 6fr;
    grid-template-rows: 1fr;
}
.proj1 picture{
    grid-row: 1/2;
    max-width: 95%;
    border-radius: 10px;
    align-self: center;
    margin-left: 20px;
}
.proj1 img{
    border-radius: 10px;
    width: 90%;
}
.proj1 article, .proj2 article{
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-self: center;
    width: 80%;
    justify-content: space-around;
    height: 50%;
    color: #2c3632;
}

.proj2{
    display: grid;
    grid-template-columns: 6fr 5fr;
    grid-template-rows: 1fr;
}
.proj2 picture{
    grid-row: 1/2;
    grid-column: 2/3;
    max-width: 95%;
    border-radius: 10px;
    align-self: center;
    margin-right: 20px;
}
.proj2 img{
    border-radius: 10px;
    width: 90%;
}
.proj2 article{
    color: #CCC5B9;
}

.in-touch{
    display: flex;
    align-items: center;
    justify-content: center;
    background: no-repeat center fixed;
    background-size: cover;
    height: 500px;
}
.in-touch article{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    align-items: center;
    text-align: center;
    height: 20%;
    color: #FFFCF2;
}
.in-touch ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}
.in-touch ul a{
    display: flex;
    text-decoration: none;
    color: inherit;
    background-color: #2c3632;
    width: max-content;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 7px;
}
.in-touch li{
    width: max-content;
}
footer{
    background-color: #030303;
    color: #f0f1f4;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
footer a{
    text-decoration: none;
}
footer ul{
    list-style: none;
}
footer .top-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .extra-footer{
   display: flex;
   justify-content: space-between;
}
footer .General-footer{
    font-size: x-large;
    color: #CCC5B9;
}
footer .Contact, .About{
    margin-right: 50px;
    line-height: 2;
}
.Contact h3, .About h3{
    color: #CCC5B9;
    
}
.About li, .Contact li{
    color: #d3d4d6;
}
.extra-footer a{
    color: inherit;
    text-decoration: inherit;
}
.extra-footer span{
    font-weight: bolder;
}
.bottom-footer{
    display: flex;
    justify-content: center;
}
.bottom-footer p{
    line-height: 2;
    margin: 20px;
    color: #d3d4d6
}

@media screen and (min-width :1920px){
    .hero{
        background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./assets/Project page/hero/monitor - 1920.jpg");
    }
    .in-touch{
        background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./assets/Project page/get_in_touch/pc_keyboard - 1920.jpg");
    }
}
@media screen and (min-width:1280px) and (max-width :1920px){
    .hero{
        background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./assets/Project page/hero/monitor - 1280.jpg");
    }
    .in-touch{
        background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./assets/Project page/get_in_touch/pc_keyboard - 1280.jpg");
    }
}
@media screen and (min-width: 960px) and (max-width:1280px){
    .hero{
        background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./assets/Project page/hero/monitor - 960.jpg");
    }
    .in-touch{
        background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./assets/Project page/get_in_touch/pc_keyboard - 960.jpg");
    }
}
@media screen and (min-width: 480px) and (max-width: 960px){
    .hero{
        background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./assets/Project page/hero/monitor - 480.jpg");
    }
    .in-touch{
        background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./assets/Project page/get_in_touch/pc_keyboard - 480.jpg");
    }
}
@media screen and (max-width: 480px){
    .hero{
        background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./assets/Project page/hero/monitor - 480.jpg");
    }
    .in-touch{
        background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./assets/Project page/get_in_touch/pc_keyboard - 480.jpg");
    }
}

